<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfc.starter.dal.demo.mapper.DemoUserMapper">
    <resultMap id="systemUserMap" type="com.wfc.starter.dal.demo.entity.DemoUserDO" >
        <id column="id" property="id"  />
        <result column="name" property="name" />
        <result column="age" property="age"  />
        <result column="email" property="email"  />
    </resultMap>
    <select id="getUserByName" resultMap="systemUserMap">
         SELECT
            id, name, age, email
         FROM user
         where name = #{name}
    </select>

    <select id="selectLike" resultMap="systemUserMap">
         SELECT
            id, name, age, email
         FROM user
         where name like concat('%',#{name},'%')
    </select>
</mapper>